{% extends 'base.html' %}
{% block title %}Surveys{% endblock %}

{% block content %}
    <form id="survey_question" action="/responses" method="POST">

    <h2>{{ title }}</h2>
        <p class="{{ question }}">{{ question }}</p>
        <hr class="dots">
            {% for choice in choices %}
                <p><input value="{{ choice }}" id="{{ question }}" name="option" type="radio">{{ choice }}</p>
            {% endfor %}
        <button type="submit" class="submit_button btn">Next</button>
    </form>
{% endblock %}
